allure-pytest
allure-python-commons
altgraph
attrs
blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
Cython
greenlet
h11
h2
hpack
hyperframe
idna
iniconfig
kaitaistruct
MouseInfo
outcome
packaging
pefile
platformdirs
playwright
pluggy
psycopg2
pyasn1
PyAutoGUI
pychrome
pycparser
pyee
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
pytest
python-dotenv
pytweening
pywin32-ctypes
requests
selenium
selenium-wire
setuptools
sniffio
sortedcontainers
SQLAlchemy
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
websocket-client
wsproto
zstandard
